@media (max-width: 600px) {
    #main{
        width:100vw;
        display: flex;
        flex-direction: column;
        border: 1px solid green;
        margin-bottom: 2rem
    }
    h1 {
        font-size: 42px;
        text-align: center;
        color: white
    }
    .conteudo{
        
        width: 100%;
        margin: 3rem auto 1rem 0;
    }

    .p2 {
        text-align: center;
        margin: 0 auto;
        font-size: 14px
        
    }

    a {
        color: #FE514F;
        text-align: center;
        letter-spacing: 0px;
        opacity: 1;
    }

    .aprender {
        margin-bottom: 40px;
        text-align: center;
        width:90%;
        margin: 0 auto;
        
    }
    #formulario{
        width: 90%;
        margin: 0 auto
    }

    .btn-free {
        width: 100%;
        display: block;
        text-align: center;
    }
    

    input,
    .btn-submit {
        width: 100%;
        box-sizing: border-box;
    }

    .btn-submit {
        margin-top: 20px;
    }
}
